* {
  font-family: Arial;
}
body {
    display: flex;
    justify-content: center;
}
main {
    width: 100%;
    max-width: 800px;
}
label {
  color: lightgrey;
  font-size: 0.8rem;
}
ul {
  list-style: none;
  color: grey;
  font-size: 0.9rem;
  line-height: 0.9rem;
  padding-left: 15px;
}
li {
  position: relative;
}
li:before {
  content: '»';
  position: absolute;
  top: 0;
  left: -15px;
  font-size: 1.4rem;
}
quote {
  color: grey;
  font-size: 0.9rem;
  position: relative;
}
quote:before {
  content: '»';
  position: absolute;
  top: -5px;
  left: -15px;
  font-size: 1.4rem;
}
video {
  max-width: 300px;
  aspect-ratio: 4/3;
}
.adContainer {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-top: 1px solid lightgrey;
    padding-top: 10px;
    height: 250px;
}
.adContainer.api:after {
    position: absolute;
    content: "Advertisement with API";
    right: 0;
    font-size: 0.8rem;
    color: lightgrey;
    margin-top: -10px;
}
.adContainer.pixel:after {
    position: absolute;
    content: "Advertisement with Pixel";
    right: 0;
    font-size: 0.8rem;
    color: lightgrey;
    margin-top: -10px;
}
.adContainer.kevel:before {
    position: absolute;
    content: "Kevel";
    left: 0;
    font-size: 0.8rem;
    color: lightgrey;
    margin-top: -10px;
}
.adContainer.jivox:before {
    position: absolute;
    content: "Jivox";
    left: 0;
    font-size: 0.8rem;
    color: lightgrey;
    margin-top: -10px;
}
